body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content : center;
    align-items: center;
    background: url(Biopappel.jpeg)center center;
    background-size: cover;
}
.contenedor{
    text-align-last:center;
    padding: 20px;
    background-color: white;
    color: black;
    opacity: 0.72;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(227, 231, 233, 0.1);
    
}
.boton-redireccion{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    display: inline-block;
    text-decoration:solid;
    text-align: center;
}
.boton-redireccion2{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    display: inline-block;
    text-decoration:solid;
    text-align: center;
}
.boton-redireccion:hover{
    background-color: #000000;
    
    
}
.contenedor2{  
    text-align-last:left;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 0.72;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(227, 231, 233, 0.1);
    }
    .abajo{
        position: fixed;
        bottom: 0;
        width: 100%;
        color:aliceblue;
        text-align: center;
        padding: 10px 0;
        font-family: Arial, Helvetica, sans-serif;
    }